@import url('https://fonts.cdnfonts.com/css/digital-7-mono');               

.App {
  min-height: 100vh;
  max-height: 100vh;
  text-align: center;
  padding: 15px;
  color: white;
  background-size: cover;
  font-family: 'Digital-7';
}

.bg1 {
  background-image: url(/images/planet1.png), url(/images/universe1.webp);
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: 563.1px, cover;
  z-index: 1;
}

.bg2 {
  background-image: url(/images/planet2.png), url(/images/universe2.webp);
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: 563.1px, cover;
  z-index: 1;
}

.bg3 {
  background-image: url(/images/planet3.png), url(/images/universe4.webp);
  background-position: bottom, center;
  background-repeat: no-repeat;  
  background-size: 563.1px, cover;
  z-index: 1;
}

.bg4 {
  background-image: url(/images/planet4.png), url(/images/universe4.webp);
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: 563.1px, cover;
  z-index: 1;
}