@import url('https://fonts.cdnfonts.com/css/digital-7-mono');               

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 15px;
  color: white;
  background-size: cover;
  font-family: 'Digital-7';
}

.bg1 {
  background-image: url(/images/universe1.webp);
}

.bg2 {
  background-image: url(/images/universe2.webp);
}

.bg3 {
  background-image: url(/images/universe4.webp);
}

.bg4 {
  background-image: url(/images/universe4.webp);
}